html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  min-height: 100vh;

  padding-top: 50px;
  font-family: "Inter", sans-serif;
  color: var(--color-text);

  background-color: var(--color-bg);
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.2s;
}

a:hover {
  color: var(--color-primary);
}

a:focus,
a:active {
  box-shadow: 0 0 3px 2px var(--color-primary);
}

.container {
  max-width: 1650px;
  margin: 0 auto;
  padding: 0 30px;
}

@media (max-width: 480px) {
  .container {
    padding: 0 15px;
  }
}
